<div class="help-chat">
  <div class="put-bottom">
    <a class="chat-bar clickable" data-bind="click: toggleChat, visible: !chatIsShowing()"><span style="margin-right: 8px;">获取帮助</span><i class="fa fa-angle-up"></i></a>
    <div class="chat" data-bind="visible: chatIsShowing()">
      <div class="toolbar">
        <span>Can I help you?</span>
        <button class="btn btn-xs" data-bind="click: toggleChat"><i class="fa fa-minus" ></i></button>
      </div>
      <div class="history">
        <div class="scroll-container">
        <!-- ko foreach: historyMessages -->
        <div data-bind="attr: {'id': 'message-'+id}, css: {'from-self': from_id == <%= current_visitor.id %>} " class="innerAll relative-box">
          <div class="media">
            <small class="author"><a href="#" title="" class="strong" data-bind="text: from_id"></a></small>
            <div class="media-object"><%= image_tag 'inner_message/face.png', class: "img-circle"%></div>
            <div class="media-body">
              <blockquote>
                <small class="date"><cite data-bind="text: $root.formatTime(created_at)"></cite></small>
                <p data-bind="text: content"></p>
              </blockquote>
            </div>
          </div>
        </div>
        <!-- /ko -->
        </div>
      </div>
      <div class="input-box">
        <textarea class="form-control" row="3" id="chat-message"></textarea>
        <button class="btn btn-primary" data-bind="click: $root.reply">发送</button>
      </div>
    </div>
  </div>
</div>
