.message-list {
  -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: auto;
  -webkit-font-smoothing: antialiased;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(48, 48, 48);
  background-image: none;
  background-origin: padding-box;
  background-size: auto;
  box-sizing: border-box;
  color: rgb(121, 121, 121);
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 100%;
  line-height: 20px;
  outline-color: rgb(121, 121, 121);
  outline-style: none;
  outline-width: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  right: 0px;
  top: 0px;
  visibility: visible;
  width: 250px;
  z-index: 999999;
  .conversation {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    color: rgb(121, 121, 121);
    display: list-item;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    outline-color: rgb(121, 121, 121);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    position: relative;
    text-align: left;
    visibility: visible;
    width: 250px;
  }
}
.media {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: rgb(121, 121, 121);
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-top: 0px;
  min-height: 80px;
  outline-color: rgb(121, 121, 121);
  outline-style: none;
  outline-width: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  text-align: left;
  visibility: visible;
  width: 210px;
  zoom: 1;
}
small.author {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: rgb(204, 204, 204);
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  left: 0px;
  line-height: 17px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  outline-color: rgb(204, 204, 204);
  outline-style: none;
  outline-width: 0px;
  position: absolute;
  text-align: center;
  top: 60px;
  visibility: visible;
  width: 50px;
  zoom: 1;
  a {
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    -webkit-font-smoothing: antialiased;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    box-sizing: border-box;
    color: rgb(37, 173, 159);
    cursor: auto;
    display: inline;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: auto;
    line-height: 17px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    outline-color: rgb(37, 173, 159);
    outline-style: none;
    outline-width: 0px;
    text-align: center;
    text-decoration: none solid rgb(37, 173, 159);
    visibility: visible;
    width: auto;
    zoom: 1;
  }
}
.media-object {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: rgb(121, 121, 121);
  display: block;
  float: left;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-right: 10px;
  outline-color: rgb(121, 121, 121);
  outline-style: none;
  outline-width: 0px;
  position: relative;
  text-align: left;
  visibility: visible;
  width: 50px;
  zoom: 1;
}
img.img-circle {
  -webkit-font-smoothing: antialiased;
  border-bottom-color: rgb(121, 121, 121);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(121, 121, 121);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(121, 121, 121);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(121, 121, 121);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(121, 121, 121);
  display: inline;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  outline-color: rgb(121, 121, 121);
  outline-style: none;
  outline-width: 0px;
  text-align: left;
  vertical-align: middle;
  visibility: visible;
  width: 50px;
  zoom: 1;  
}
.media-body {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: rgb(121, 121, 121);
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  outline-color: rgb(121, 121, 121);
  outline-style: none;
  outline-width: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: left;
  visibility: visible;
  width: 150px;
  zoom: 1;
  blockquote {
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    -webkit-font-smoothing: antialiased;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(56, 56, 56);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    border-bottom-color: rgb(121, 121, 121);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(121, 121, 121);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(121, 121, 121);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(121, 121, 121);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-style: none;
    border-top-width: 0px;
    box-sizing: border-box;
    color: rgb(121, 121, 121);
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 25px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: rgb(121, 121, 121);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    text-align: left;
    visibility: visible;
    width: 150px;
    zoom: 1;

  }
  p {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: normal;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: rgb(255, 255, 255);
    outline-style: none;
    outline-width: 0px;
    text-align: left;
    visibility: visible;
    width: 134px;
    zoom: 1;

  }
  small.date {
    -webkit-font-smoothing: antialiased;
    border-bottom-color: rgb(68, 68, 68);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    box-sizing: border-box;
    color: rgb(204, 204, 204);
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: rgb(204, 204, 204);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 3px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-align: right;
    visibility: visible;
    width: 134px;
    zoom: 1;
    cite {
      -webkit-font-smoothing: antialiased;
      box-sizing: border-box;
      color: rgb(204, 204, 204);
      display: inline;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 14px;
      font-style: normal;
      height: auto;
      line-height: 20px;
      list-style-image: none;
      list-style-position: outside;
      list-style-type: none;
      outline-color: rgb(204, 204, 204);
      outline-style: none;
      outline-width: 0px;
      text-align: right;
      visibility: visible;
      width: auto;
      zoom: 1;
    }
  }
}

