.message-list {
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 100px;
  line-height: 20px;
  margin-bottom: 0px;
  max-width: 400px;
  padding-left: 0px;
  width: 300px;
  z-index: 2000;
  .message {
    line-height: 20px;
    margin-bottom: 0px;
    padding: 10px 15px;
    position: relative;
    border-bottom: 1px solid #eee;
    width: 300px;
  }
  .message.unread {
    background-color: #0CB6E8;
    color: white;
  }
}
.unread-count {
  .badge {
    cursor: pointer;
  }
}
.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #777;
  border-radius: 10px;  
}

.iframe-message {
  position: absolute;
}
