.message-list {
  transition: all .5s;
  -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: auto;
  -webkit-font-smoothing: antialiased;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(48, 48, 48);
  background-image: none;
  background-origin: padding-box;
  background-size: auto;
  box-sizing: border-box;
  color: rgb(121, 121, 121);
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 100%;
  line-height: 20px;
  outline-color: rgb(121, 121, 121);
  outline-style: none;
  outline-width: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  right: 0px;
  top: 0px;
  visibility: visible;
  width: 250px;
  z-index: 999999;
  .conversation {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    color: rgb(121, 121, 121);
    display: list-item;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    outline-color: rgb(121, 121, 121);
    outline-style: none;
    outline-width: 0px;
    position: relative;
    text-align: left;
    visibility: visible;
    width: 250px;
    height: 90%;
    .messages {
      height: 80%;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}
.from-self {
  small.author {
    left: 175px;
  }
  .media blockquote {
    background-color: #25ad9f;
    small.date {
      border-color: #27b5a7;
      color: #fff;
      text-align: left;
    }
  }
  .media-body {
    p {
      text-align: right;
    }
  }

}
.conversation, .chat{
  .media-object {
    float: left;
  }
  .from-self .media-object {
    float: right;
  }
}
small.author {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: rgb(204, 204, 204);
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  left: 0px;
  line-height: 17px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  outline-color: rgb(204, 204, 204);
  outline-style: none;
  outline-width: 0px;
  text-align: center;
  visibility: visible;
  width: 50px;
  zoom: 1;
  position: absolute;
  top: 60px;
  left: 10px;
  a {
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    -webkit-font-smoothing: antialiased;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    box-sizing: border-box;
    color: rgb(37, 173, 159);
    cursor: auto;
    display: inline;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: auto;
    line-height: 17px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    outline-color: rgb(37, 173, 159);
    outline-style: none;
    outline-width: 0px;
    text-align: center;
    text-decoration: none solid rgb(37, 173, 159);
    visibility: visible;
    width: auto;
    zoom: 1;
  }
}
.media-body {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: rgb(121, 121, 121);
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  outline-color: rgb(121, 121, 121);
  outline-style: none;
  outline-width: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;
  text-align: left;
  visibility: visible;
  width: 150px;
  zoom: 1;
  blockquote {
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    -webkit-font-smoothing: antialiased;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(56, 56, 56);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    border: 0 none rgb(121, 121, 121);
    border-radius: 5px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    box-sizing: border-box;
    color: rgb(121, 121, 121);
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 25px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0 0 20px 0;
    outline-color: rgb(121, 121, 121);
    outline-style: none;
    outline-width: 0px;
    padding: 8px;
    text-align: left;
    visibility: visible;
    width: 150px;
    zoom: 1;

  }
  p {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: normal;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    outline-color: rgb(255, 255, 255);
    outline-style: none;
    outline-width: 0px;
    text-align: left;
    visibility: visible;
    width: 134px;
    zoom: 1;
    color: white;

  }
  small.date {
    -webkit-font-smoothing: antialiased;
    border-bottom: 1px solid rgb(68, 68, 68);
    box-sizing: border-box;
    color: rgb(204, 204, 204);
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0 0 5px 0;
    outline-color: rgb(204, 204, 204);
    outline-style: none;
    outline-width: 0px;
    padding: 0 0 3px 0;
    text-align: right;
    visibility: visible;
    width: 134px;
    zoom: 1;
    &:before {
      content: '';
    }
    cite {
      -webkit-font-smoothing: antialiased;
      box-sizing: border-box;
      display: inline;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 14px;
      font-style: normal;
      height: auto;
      line-height: 20px;
      list-style-image: none;
      list-style-position: outside;
      list-style-type: none;
      outline-color: rgb(204, 204, 204);
      outline-style: none;
      outline-width: 0px;
      text-align: right;
      visibility: visible;
      width: auto;
      zoom: 1;
    }
  }
}
.reply-box {
  display: none;
  padding: 10px;
  button {
    margin-top: 10px;
  }
}
.unread-alert {
  background-color: #F55306;
}
.text-white {
  color: white;
}
.media {
  a:hover {
    color: #25ad9f;
  }
  a {
    text-decoration: none;
  }
}
.relative-box {
  position: relative;
}
.innerAll {
  padding: 15px 20px;
}
.btn.btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
}
.btn-inverse {
  background: #424242;
  border-color: #424242;
  color: #fff;
}
.border-bottom {
  border-bottom: 1px solid #383838;
}
.clickable {
  cursor: pointer;
}
.show-message-list {
  right: 0;
  display: block;
}
.hide-message-list {
  right: -250px;
  display: none;
}