<div data-bind="attr: {'id': 'message-'+id}, css: {'from-self': from_id != $parent.id} " class="innerAll relative-box">
  <div class="media" data-bind="click: $root.markAsRead, css: {'unread': !read}">
    <small class="author"><a href="#" title="" class="strong" data-bind="text: from_id"></a></small>
    <div class="media-object"><%= image_tag 'inner_message/face.png', class: "img-circle"%></div>
    <div class="media-body">
      <blockquote>
        <small class="date"><cite data-bind="text: $root.formatTime(created_at)"></cite></small>
        <p data-bind="text: content, click: $root.showReply"></p>
      </blockquote>
    </div>
  </div>
  <div class="reply-box">
    <textarea class="form-control" row="3"></textarea>
    <button class="btn btn-primary" data-bind="click: $root.reply">回复</button>
    <button class="btn btn-default" data-bind="click: $root.cancelReply">取消</button>
  </div>
</div>