<div class="relative-box media border-bottom innerAll margin-none mix_all channel" data-bind="click: $root.showChannel, visible: !$root.showingChannel()">
  <div class="media-body">
    <a href="#chat-conversation" data-toggle="tab" class="pull-right text-muted innerT half">
      <i class="fa fa-comments"></i><span data-bind="text: broadcasts().length"></span>
    </a>
    <h5 class="margin-none"><a href="#chat-conversation" data-toggle="tab" class="text-white" data-bind="text: name"></a></h5>
  </div>
</div>