<div style="width: 30px;height:30px;position:absolute;top:0;right:50%" id="iframe-container">
<iframe frameborder='0' src='/inner_message/iframe' class="message-iframe" allowtransparency="true"height="100%" width="100%" scrolling="no" style="position: absolute;top:0;left:0;background: none transparent"></iframe>
</div>