<div style="width: 30px;height:30px;position;relative">
<iframe frameborder='0' src='/inner_message/iframe' class="message-iframe" height="100%" scrolling="no" style="position: absolute;z-index: -1"></iframe>
</div>
