<div class="unread-count">
  <span class="badge" data-bind="text: unread, click: toggleMessageBox"></span>
</div>

<div data-bind="foreach: messages, visible: showingMessageBox" class="message-list">
  <div class="conversation">
    <div class="media" data-bind="click: $parent.markAsRead, css: {'unread': !read}">
      <small class="author"><a href="#" title="" class="strong">Jane Doe</a></small>
      <div class="media-object pull-left"><%= image_tag 'inner_message/face.png', class: "img-circle"%></div>
      <div class="media-body">
        <blockquote>
          <small class="date"><cite data-bind="text: $parent.formatTime(created_at)"></cite></small>
          <p data-bind="text: content"></p>
        </blockquote>
      </div>
    </div>
    <div class="reply-box">
      <textarea data-bind="attr: {'id': id}"></textarea>
      <button data-bind="click: $parent.reply">Submit</button>
      <button>Cancel</button>
    </div>
  </div>
</div>