<div class="unread-count">
  <span class="badge" data-bind="text: unread, click: toggleMessageBox"></span>
</div>

<div data-bind="foreach: messages, visible: showingMessageBox" class="message-list">
  <div class="message" data-bind="click: $parent.markAsRead">
    <h4 data-bind="text: created_at"></h4>
    <div data-bind="text: content"></div>
  </div>
</div>